# Beispielkonfiguration fuer scripts/cli_yaml_config_fill.py
# Datei als env.yaml im Aufruferverzeichnis ablegen.

basedir: /home/flow/dev_mk/ansible_mk
target_env: dev

template_dir: /home/flow/dev_mk/ansible_mk/k8s
template_collect_dir: /home/flow/dev_mk/ansible_mk/k8s/overlays/manual
valuestore_dir: /home/flow/dev_mk/values_ycs
outpath: /home/flow/dev_mk/ansible_mk/ready2apply

template_defaults:
  source: project
  transform: fill_config_template

template_files: []

data_file_defaults:
  source: project
  transform: fill_simple_template
  env: together

data_files:
  harbour:
    source: private
    transform: fill_simple_template
    env: "yes"
    file: values_harbour_{env}.yaml
    targets:
      - deploy-*.yaml
  creds:
    source: private
    transform: fill_config_template
    env: "yes"
    file: values_creds_{env}.yaml
    targets:
      - "*"
